interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/users/octocat/repos?sort=updated&per_page=100&page=1
  response:
    body:
      string: '[{"id":1296269,"node_id":"MDEwOlJlcG9zaXRvcnkxMjk2MjY5","name":"Hello-World","full_name":"octocat/Hello-World","private":false,"owner":{"login":"octocat","id":583231,"node_id":"MDQ6VXNlcjU4MzIzMQ==","avatar_url":"https://avatars.githubusercontent.com/u/583231?v=4","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/octocat/Hello-World","description":"My
        first repository on GitHub!","fork":false,"url":"https://api.github.com/repos/octocat/Hello-World","forks_url":"https://api.github.com/repos/octocat/Hello-World/forks","keys_url":"https://api.github.com/repos/octocat/Hello-World/keys{/key_id}","collaborators_url":"https://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/octocat/Hello-World/teams","hooks_url":"https://api.github.com/repos/octocat/Hello-World/hooks","issue_events_url":"https://api.github.com/repos/octocat/Hello-World/issues/events{/number}","events_url":"https://api.github.com/repos/octocat/Hello-World/events","assignees_url":"https://api.github.com/repos/octocat/Hello-World/assignees{/user}","branches_url":"https://api.github.com/repos/octocat/Hello-World/branches{/branch}","tags_url":"https://api.github.com/repos/octocat/Hello-World/tags","blobs_url":"https://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/octocat/Hello-World/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/octocat/Hello-World/git/refs{/sha}","trees_url":"https://api.github.com/repos/octocat/Hello-World/git/trees{/sha}","statuses_url":"https://api.github.com/repos/octocat/Hello-World/statuses/{sha}","languages_url":"https://api.github.com/repos/octocat/Hello-World/languages","stargazers_url":"https://api.github.com/repos/octocat/Hello-World/stargazers","contributors_url":"https://api.github.com/repos/octocat/Hello-World/contributors","subscribers_url":"https://api.github.com/repos/octocat/Hello-World/subscribers","subscription_url":"https://api.github.com/repos/octocat/Hello-World/subscription","commits_url":"https://api.github.com/repos/octocat/Hello-World/commits{/sha}","git_commits_url":"https://api.github.com/repos/octocat/Hello-World/git/commits{/sha}","comments_url":"https://api.github.com/repos/octocat/Hello-World/comments{/number}","issue_comment_url":"https://api.github.com/repos/octocat/Hello-World/issues/comments{/number}","contents_url":"https://api.github.com/repos/octocat/Hello-World/contents/{+path}","compare_url":"https://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}","merges_url":"https://api.github.com/repos/octocat/Hello-World/merges","archive_url":"https://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/octocat/Hello-World/downloads","issues_url":"https://api.github.com/repos/octocat/Hello-World/issues{/number}","pulls_url":"https://api.github.com/repos/octocat/Hello-World/pulls{/number}","milestones_url":"https://api.github.com/repos/octocat/Hello-World/milestones{/number}","notifications_url":"https://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/octocat/Hello-World/labels{/name}","releases_url":"https://api.github.com/repos/octocat/Hello-World/releases{/id}","deployments_url":"https://api.github.com/repos/octocat/Hello-World/deployments","created_at":"2011-01-26T19:01:12Z","updated_at":"2025-12-10T12:58:03Z","pushed_at":"2024-08-20T23:54:42Z","git_url":"git://github.com/octocat/Hello-World.git","ssh_url":"git@github.com:octocat/Hello-World.git","clone_url":"https://github.com/octocat/Hello-World.git","svn_url":"https://github.com/octocat/Hello-World","homepage":"","size":1,"stargazers_count":3343,"watchers_count":3343,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":8298,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2170,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":8298,"open_issues":2170,"watchers":3343,"default_branch":"master"},{"id":1300192,"node_id":"MDEwOlJlcG9zaXRvcnkxMzAwMTky","name":"Spoon-Knife","full_name":"octocat/Spoon-Knife","private":false,"owner":{"login":"octocat","id":583231,"node_id":"MDQ6VXNlcjU4MzIzMQ==","avatar_url":"https://avatars.githubusercontent.com/u/583231?v=4","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/follo[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/git-consortium/languages
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"7ee6161ef93be216394c9b63533cb4fa9beb55a90b4575252e5e17fac099a1e0"'
      Last-Modified:
      - Tue, 09 Dec 2025 02:48:31 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '54'
      X-RateLimit-Reset:
      - '1765381049'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '6'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/Spoon-Knife/languages
  response:
    body:
      string: '{"HTML":355,"CSS":256}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ce063173fc7887bcd2ce2a653cacaddf646c137fc8d1a64ffe7eb4f40d917bf3"
      Last-Modified:
      - Tue, 09 Dec 2025 13:07:53 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '53'
      X-RateLimit-Reset:
      - '1765381049'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '7'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/octocat.github.io/languages
  response:
    body:
      string: '{"CSS":14694,"HTML":3983,"JavaScript":48}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bf5cda78b9ba18f9db7d1973fcaed3476fe2453148ea74dc09b02d36b81a0d44"
      Last-Modified:
      - Tue, 09 Dec 2025 09:17:54 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '52'
      X-RateLimit-Reset:
      - '1765381049'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '8'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/Hello-World/languages
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"7ee6161ef93be216394c9b63533cb4fa9beb55a90b4575252e5e17fac099a1e0"'
      Last-Modified:
      - Wed, 10 Dec 2025 12:58:03 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '51'
      X-RateLimit-Reset:
      - '1765381049'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '9'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/linguist/languages
  response:
    body:
      string: '{"Ruby":204865,"Shell":910}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ece0dfd99781fd06e97362983d16de890df3850d405fae4277ff6da6adaf8820"
      Last-Modified:
      - Tue, 09 Dec 2025 02:48:20 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '50'
      X-RateLimit-Reset:
      - '1765381049'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '10'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
